body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  h2, h3, p, h4{
    font-family: 'Raleway', sans-serif;
  }

header {
  font-family: 'Lobster', cursive;
  font-size: 140%;
  text-shadow: 2px 2px 2px #aaa;
  color: white;
  padding-right:50px;
};

#userLogin {
  width: 80;
}

#head {
  box-shadow: 2px 2px 2px #aaa;
  position: relative;
  background-color: #b3d01d;
}

.clearfix {
  overflow: auto;
}

#menu{
  position: relative;
  top: -55px;
  left: 36px;
}

.menu{
  font-size: 44px;
  color: white;
}
/*profile css ------------------*/
.headMarg{
margin-bottom: 40px;
clear: both;
position: relative;
background-color: #b3d01d;
}

#navi{
  background-color: #b3d01d;
}

#searchNav{
  width:80%;
}

#userPhoto{
  width: 240px;
  height: 240px;
}

#imageCard{
  width:240px;
}

#userWelcome{
  box-shadow: 2px 2px 2px 2px #aaa;
  background-color: white;
}

#addListing{
  margin-top: 38px;
}

#bidImage{
  height: 50px;
  padding: 0;
}

.bidCol{
  margin-bottom:10px;
  margin-top: 15px;
}

#changeProfile{
  box-shadow: 2px 2px 2px 2px #aaa;
  background-color: white;
  padding: 60px;
}

/*communication css ------------------*/

#arrows{
  padding-top: 60px;
}

#communicateChat {
margin-top: 30px;
}

/*communication css ------------------*/
#maps{
  position: relative;
  left: 25%;
}


header, .main, footer {
      padding-left: 180px;
    }

    @media only screen and (max-width : 992px) {
      header, .main, footer {
        padding-left: 0;
      }
    }
    @media only screen and (max-width : 600px) {
      #communicateImages{
        padding-left:25%;
      }

    }
